---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sync Marks - Privacy Policy">
  <main
    class="max-w-[75ch] mx-auto px-4 lg:px-2 space-y-6 text-slate-700 dark:text-slate-300"
  >
    <h1 class="text-2xl font-bold">Privacy Policy</h1>
    <section>
      <h2 class="text-xl font-bold mb-2">Information We Collect</h2>
      <p>Our Chrome extension only collects the user's email address.</p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">
        How We Use the Information We Collect
      </h2>
      <p>We use the information we collect only for the following purposes:</p>
      <ul>
        <li>To send notifications related to bookmark synchronization.</li>
        <li>
          To provide assistance and technical support related to the extension.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Transparency and Choice</h2>
      <p>
        The collection of the email address is necessary for the extension to
        function. We do not share your personal information with third parties
        except in the following circumstances:
      </p>
      <ul>
        <li>
          To comply with any applicable law, regulation, legal process, or
          enforceable governmental request.
        </li>
        <li>
          To enforce applicable Terms of Service, including investigating
          potential violations.
        </li>
        <li>
          To detect, prevent, or otherwise address fraud, security, or technical
          issues.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">
        Access and Updating of Your Personal Information
      </h2>
      <p>
        You can access and update your personal information at any time through
        the extension's settings.
      </p>
      <h2 class="text-xl font-bold mb-2">Information Security</h2>
      <p>
        We work hard to protect our extension and our users from unauthorized
        access or unauthorized alteration, disclosure, or destruction of the
        information we hold.
      </p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Changes</h2>
      <p>
        Our Privacy Policy may change from time to time. We will post any
        changes on this page, and if the changes are significant, we will
        provide a more prominent notice (including, for certain extensions,
        email notification of privacy policy changes).
      </p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Contact</h2>
      <p>
        If you have any questions about this Privacy Policy, you can contact us
        via email:
      </p>
      <p><a href="mailto:privacy@example.com">privacy@example.com</a></p>
    </section>
  </main>
</Layout>
