---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Sync Marks">
  <main>
    <h1
      class="text-5xl font-extrabold text-slate-700 dark:text-slate-300 text-left lg:text-center mb-2 text-pretty"
    >
      Bienvenido a <span class="text-gradient">Sync Marks</span>
    </h1>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
