---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sync Marks - Política de privacidad">
  <main class="max-w-[75ch] mx-auto px-4 lg:px-2 space-y-6">
    <h1 class="text-2xl font-bold">Política de Privacidad</h1>
    <section>
      <h2 class="text-xl font-bold mb-2">Información que recopilamos</h2>
      <p>
        Nuestra extensión de Chrome recopila únicamente la siguiente el correo
        electrónico del usuario
      </p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">
        Cómo usamos la información que recopilamos
      </h2>
      <p>
        Usamos la información que recopilamos únicamente para los siguientes
        fines:
      </p>
      <ul>
        <li>
          Enviar notificaciones relacionadas con la sincronización de
          marcadores.
        </li>
        <li>
          Proveer asistencia y soporte técnico relacionado con la extensión.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Transparencia y elección</h2>
      <p>
        La recopilación de la dirección de correo electrónico es necesaria para
        el funcionamiento de la extensión. No compartimos tu información
        personal con terceros, excepto en las siguientes circunstancias:
      </p>
      <ul>
        <li>
          Para cumplir con cualquier ley aplicable, regulación, proceso legal o
          solicitud gubernamental ejecutable.
        </li>
        <li>
          Para hacer cumplir los Términos de Servicio aplicables, incluida la
          investigación de posibles violaciones.
        </li>
        <li>
          Para detectar, prevenir o abordar de alguna otra manera el fraude, la
          seguridad o problemas técnicos.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">
        Acceso y actualización de tu información personal
      </h2>
      <p>
        Puedes acceder y actualizar tu información personal en cualquier momento
        a través de la configuración de la extensión.
      </p>
      <h2 class="text-xl font-bold mb-2">Seguridad de la información</h2>
      <p>
        Trabajamos duro para proteger nuestra extensión y nuestros usuarios de
        acceso no autorizado o alteración, divulgación o destrucción no
        autorizada de la información que poseemos.
      </p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Cambios</h2>
      <p>
        Nuestra Política de Privacidad puede cambiar de vez en cuando.
        Publicaremos cualquier cambio en esta página y, si los cambios son
        significativos, proporcionaremos un aviso más destacado (incluyendo,
        para ciertas extensiones, notificación por correo electrónico de los
        cambios en la política de privacidad).
      </p>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-2">Contacto</h2>
      <p>
        Si tienes alguna pregunta sobre esta Política de Privacidad, puedes
        contactarnos a través del correo electrónico:
      </p>
      <p><a href="mailto:privacy@example.com">privacy@example.com</a></p>
    </section>
  </main>
</Layout>
