---
import IconArrowNarrowRight from "@/icons/IconArrowNarrowRight.astro";
---

<button
  class="px-5 py-3 text-base w-fit font-medium bg-gradient-to-br from-purple-500 to-blue-300 dark:from-purple-600 dark:to-blue-500 dark:hover:from-purple-700 dark:hover:to-blue-700 text-white bg-blue-700 transition-all active:scale-95 hover:!bg-opacity-50 rounded-lg text-center inline-flex items-center dark:hover:bg-opacity-50"
>
  Instalar extensión
  <IconArrowNarrowRight size={24} svgClass="ml-2" />
</button>
