---
import { EXTENSION_GITHUB_REPO_URL } from "../utils/constants";
---

<footer class="p-4">
  <div
    class="max-w-screen-xl mx-auto w-full p-6 md:flex md:items-center md:justify-between bg-white/75 rounded-md m-4 dark:bg-gray-900/75"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="/" class="hover:underline">Sync Marks</a>
    </span>
    <ul
      class="flex flex-wrap gap-4 items-center mt-3 sm:mt-0 text-sm font-medium text-gray-500 dark:text-gray-400"
    >
      <!-- <li>
        <a
          href={EXTENSION_GITHUB_REPO_URL}
          class="hover:underline me-4 md:me-6"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </li> -->
      <li>
        <a href="/privacy-policy" class="hover:underline me-4 md:me-6"
          >Privacy Policy</a
        >
      </li>
      <!-- <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li> -->
    </ul>
  </div>
</footer>
