---
import ToggleThemeButton from "./ToggleThemeButton.astro";
import SyncMarksLogo from "./SyncMarksLogo.astro";
---

<header
  id="header"
  class="fixed top-0 w-full p-4 backdrop-blur-sm transition-all ease-in-out border-b-[0.5px] border-opacity-0 border-b-slate-700 text-slate-700 dark:text-slate-300 border-solid"
>
  <div class="max-w-screen-xl mx-auto flex justify-between gap-2 items-center">
    <a href="./">
      <SyncMarksLogo />
    </a>
    <ToggleThemeButton />
  </div>
</header>

<script>
  const headerEl = document.getElementById("header");
  // show bottom border when scrolling down an reach the content
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          // Si el elemento no está en el viewport
          headerEl?.classList.add(
            "backdrop-blur-sm",
            "!border-opacity-100",
            "bg-white/25",
            "dark:bg-slate-950/25"
          );
          // headerEl?.classList.remove("border-b-0");
        } else {
          // Si el elemento está en el viewport
          headerEl?.classList.remove(
            "backdrop-blur-sm",
            "!border-opacity-100",
            "bg-white/25",
            "dark:bg-slate-950/25"
          );
        }
      });
    },
    {
      // rootMargin: `-${headerEl?.offsetHeight}px`,
      threshold: 0.1,
    }
  );

  const containerEl = document.getElementById("slot-container");
  observer.observe(containerEl as HTMLElement);
</script>
