<section class="mt-16">
  <h2
    class="text-4xl font-extrabold text-slate-700 dark:text-slate-300 text-left mb-6 text-pretty"
  >
    ¿Qué es Sync Marks?
  </h2>
  <p class="text-slate-700 dark:text-slate-300 text-left mb-2 text-pretty">
    Sync Marks es una extensión que te permite sincronizar automáticamente tus
    marcadores en la nube cada vez que los añades, borras o modificas. Esta
    herramienta está diseñada para desarrolladores y perfiles técnicos que
    requieren acceso constante y actualizado a sus marcadores en diferentes
    navegadores y dispositivos.
  </p>

  <!-- Imagen de la interfaz principal de la extensión -->
  <!-- <div class="image">
    <img
      src="ruta-a-tu-imagen1.jpg"
      alt="Vista principal de la extensión en funcionamiento"
    />
  </div> -->
</section>
