---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-[url(/background.svg)] bg-cover dark:bg-slate-950 bg-screen bg-repeat"
  >
    <Header />
    <!-- <Sidebar /> -->
    <div id="slot-container"></div>
    <div class="pt-[68px] h-full">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<script>
  import "flowbite";
</script>
<script is:inline>
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
  document.addEventListener("astro:page-load", () => {
    // This runs on first page load and after every navigation.
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  });
</script>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 203 213 225;
    --accent-dark: 151 65 85;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 50%,
      white 60%
    );

    --header-height-big: 5rem;
    --header-height-small: 4rem;
  }

  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
    /* background-size: 224px; */
    color: rgb(var(--accent-dark));
    background: white;
    scroll-behavior: smooth;
  }
  html.dark {
    color: rgb(var(--accent-light));
    background: rgb(2 6 23);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  * {
    min-width: 0;
    font: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }

  body {
    margin: 0;
    min-height: 100lvh; /* polemico, en movil puede cambiar y haria unlayout shift raro, lo probé en Rive */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
</style>
